
.new-flats-row{

    color: #004182!important;
}

*:focus {
    outline: none!important;
}

.btn-nobtn {
    border: 0;
}

.department{
    font-size: 2rem;
    font-weight: 900;
}

.carousel-height-img{
    height: 50vh;
}

.carousel-height-img>div{
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.new-flats-main{
    display: flex;
    justify-content: center;
}

.new-flat-main-img img{
    width: 100%;
    max-height: 20vh;
    min-height: 20vh;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.flat-main-img img{
    width: 100%;
    height: 100%;
    height: 300px;
}

.new-flat-main-name{
    font-size: 1.7rem;
    font-weight: 900;
    color: cornflowerblue;
}

.new-flat-main-cost{
    font-size: 1.5rem;
    font-weight: 900!important;
}

.new-flat-main-text span{
    color: black;
}


.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 50%;
    color: rgba(0, 65, 130, 0.4);
    background: none;
    z-index: 1;
    border: #6cb2eb;
    box-shadow: #38c172;
}

.slick-prev:focus,
.slick-next:focus{
    border: none;
    outline: none;
}

.slick-prev {
    left: -50px;
}

.slick-prev:after {
    content: "\f104";
    font: 40px/1 'FontAwesome';
    font-size: 100px;
}

.slick-next {
    right: -50px;
    text-align: right;
}

.slick-next:after {
    content: "\f105";
    font: 40px/1 'FontAwesome';
    font-size: 100px;
}

.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}




.slick-arrow {
    position: absolute;
    top: 30%;
    font-size: 5rem;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 65, 130, 0.4);
    color: white;
}

.slick-arrow:hover{
    color: rgba(0, 65, 130, 0.4);
    cursor: pointer;
}

.arrow-next{
    right: -60px;
}

.arrow-prev{
    left: -60px;
}

.arrow-re-next {
    right: 60px;
    z-index: 1000;
}

.arrow-re-prev {
    left: 60px;
    z-index: 1000;
}

.arrow-re-prev, .arrow-re-next {
    top: 35% !important;
}

.slick-slide-break {
    padding: 0!important;
}

.slick-list.draggable>.slick-track {
    display: flex;
    justify-content: center;
}

.slick-arrow+.slick-list.draggable>.slick-track {
    display: block!important;
}

.navbar-light .navbar-nav .active>.nav-link.naw-current {
    color: #004182!important;
}

.text-grey {
    color: gray;
}

.new-household-main-one {
    padding: 0!important;
}

.new-household-main-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.personal-info{
    margin-left: 30px;
}

.new-household-main-type {
    font-size: 20px;
    color: #183E62;
    font-weight: 700;
}

.new-household-main-one .row{
    flex-wrap: nowrap;
}

.new-household-main-price{
    color: #183E62;
    font-weight: 700;
    font-size: 18px;
}

.row-self{
    margin-right: -15px;
    margin-left: -15px;
}

.new-household-main-description{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.new-household-main-one:focus{
    border: none;
    outline: none;
}

.new-flat-main-one:focus{
    border: none;
    outline: none;
}

.new-household-row{
    color: #004182;
}

.new-advantage-row{
    color: #183E62;
    width: 100%;
}

.new-advantage-one .statistic-container{
    background: #FFFFFF;
    border: 2px solid #183E62;
    box-shadow: 0px 4px 4px #183E62;
    border-radius: 50%;
}

.advantage-description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new-advantage-main-img img{

    max-height: 7vh;
    min-height: 7vh;
}

.new-advantage-main-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count span{
    width: 100%;
    font-size: 28px;
    color: #004182;
    font-weight: bold;
}

.advantage-description span{
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
}

.link-black {
    color: black;
}
.link-black:hover {
    color: black;
}

.main-row{
    background-color: #183E62;
}

.link-style a, .link-style{
    color: white;
}

.link-style a:hover{
    text-decoration: none;
    color: lightgrey;
}

.secondary-row{
    background-color: black;
}

.user-name{
    font-weight: 400;
    font-size: 28px;
}

.nav-item a .fa, .nav-item a span{
    color: #004182;
}

.nav-item-one li a{
    font-weight: 500;
    font-size: 28px;
    color: #118DF0!important;
}

.nav-item-one li a:hover{
    color: #004182!important;
}

.sign-in{
    height: 100%;
    font-weight: 400;
    font-size: 28px;
}

.sign-in-block a{
    display: flex;
}

.dropdown-menu-right a span{
    font-size: 1.4rem;
}

.dropdown-menu-right a{
    display: flex;
}

.nav-user-avatar{
    width: 50px;
    height: 50px;
}

.new-household-main-one a:hover{
    text-decoration: none;
}



.display-none {
    display: none;
}
.ui-form {
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*margin: 50px auto 30px;*/
}
.ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: normal;
}
.ui-form h3:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 60px;
    top: -30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}
.ui-form h3:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 50px;
    top: -40px;
    width: 0;
    height: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 90px solid white;
}
.form-row {
    position: relative;
    margin-bottom: 40px;
}

.cross {
    position: absolute;
    color: white;
    right: 20px;
    top: 0;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.cross:hover {
    cursor: pointer;
    opacity: 0.8;
}

input:focus {
    outline: none!important;
}
input.fco:focus {
    outline: none!important;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border-width: 0;
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}

.form-row input.form-dark {
    border-bottom: 2px solid black;
}

.form-row input.is-invalid {
    border-bottom: 2px solid #f24354;
}
.form-row .is-invalid+label {
    color: #f24354;
}
.invalid-feedback {
    color: #f24354!important;
    display: block!important;
    margin-top: -33px!important;
}
.invalid-feedback-home {
    color: #f24354!important;
    display: block!important;
    margin-top: -20px!important;
}
.form-row label {
    position: absolute;
    left: 13px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transform: translateY(-35px);
    transition: all 0.2s ease;
    bottom: -30px;
}
.form-row label.label-dark,label.label-dark {
    color: black;
    font-weight: 500;
}
.form-row input:focus {
    outline: 0;
}
.form-row input:focus + label,
.form-row input:not(:placeholder-shown) + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
}
.ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
}
.ui-form p {
    margin: 0;
    padding-top: 10px;
}

.auth-container-left{
    background-color: #004182;
    color: white;
    width: 50%;
    padding-left: 50px!important;
    padding-right: 50px!important;
}

.auth-container-right{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.auth-container{
    margin-top: 30px!important;
    margin-bottom: 30px!important;
    border-radius: 15px!important;
    display: flex!important;
    flex-direction: row!important;
    border: 1px solid #004182!important;
}

.auth-button{
    background-color: white!important;
    color: #004182!important;
    border-radius: 10px!important;
    width: 300px;
    height: 60px;
    border: 1px solid #004182!important;

    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.auth-button:hover{
    color: #4a90e2!important;
    border: 1px solid #4a90e2!important;
}

.auth-container-right div button{
    border-radius: 10px!important;
    width: 300px;
    height: 60px;
    font-size: 18px;
}

.ui-form div div button{
    font-size: 18px;
}

.auth-container-right div span{
    color: #004182;
    font-size: 20px;
}

.card-body{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header-hr{
    border-bottom: 0.8px solid rgba(0, 65, 130, 0.5)
}

.body-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.body-container>*{
    width: 100%;
}

.form-row input::-webkit-input-placeholder {color:rgba(0,0,0,0);}
.form-row input::-moz-placeholder          {color:rgba(0,0,0,0);}
.form-row input:-moz-placeholder           {color:rgba(0,0,0,0);}
.form-row input:-ms-input-placeholder      {color:rgba(0,0,0,0);}

.form-group .input-container .form-row input{
    color: white;
}

.ui-form .form-group .auth-button{
    width: 50%;
    font-size: 14px;
}

.btn-forgot-password{
    background-color: #004182!important;
    color: white!important;
}

.btn-forgot-password,
.btn-forgot-password:hover,
.btn-forgot-password:focus,
.btn-forgot-password:active{
    border: 0!important;
}

.btn-forgot-password:hover a{
    color: lightgrey!important;
    text-decoration: none;
}

.btn-forgot-password a{
    color: white!important;
}


.socialite .row .btn-light{
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004182!important;
}

.socialite-register .row .btn-light{
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004182!important;
}

.auth-container-left h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.auth-container-right .container .mt-5 a{
    margin: auto;
}

.auth-button-reset-password{
    width: 100%!important;
}

.form-check-inline {
    width: 32%;
    margin-right: 0!important;
}


.is-invalid {

}

.about-information{
    color: #004182;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.about-phone{
    display: flex;
}

.about-phone div i{
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004182!important;
}

.dialog-support {
    color: #004182;
    border: 1px solid #004182;
    display: block;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    width: 100%;
}

.overflow-x-auto {
    overflow-x: auto;
}

@media (min-width: 1024px) {
    .container {
        max-width: 1000px!important;
    }
}

.dialog-support:hover {
    text-decoration: none;
    color: white;
    background: #004182;
}

.alert-success {
    margin-top: -2em!important;
    color: #c3e6cb!important;
    background-color: rgba(0,0,0,0)!important;
    border-color: #c3e6cb!important;
    margin-bottom: 2.5em!important;
}

.style-reset .alert-success {
    margin-top: 0!important;
    color: #155724!important;
    background-color: #d4edda!important;
    border-color: #c3e6cb!important;
}

textarea {
    resize: none!important;
}

.flat-search-text{
    font-size: 25px;
}

.search-div-size-half{
    width: 50% !important;
}

.flex{
    display: flex!important;
    flex-wrap: nowrap!important;
}

.number-of-rooms{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: nowrap;
}

.flat-search-border{
    border: 1px solid rgba(0, 65, 130, 0.5);
}

.flat-sort div{
    border: 1px solid rgba(0, 65, 130, 0.5);
    font-size: 14px;
    color: #004182;
}

.selected-sort{
    background-color: #118DF0;
    color: white!important;
}

.selected-sort a{
    color: white!important;
}

.selected-sort:hover a{
    text-decoration: underline;
}

.flat-sort div:hover {
    text-decoration: underline;
}

.flat-sort .text-center{
    cursor: pointer;
}

.one-flat img{
    width: 100%;
    height: 253px;
}

.search-flat-name{
    color: #004182;
    font-size: 18px;
}

.flat-search-flats-param{
    font-size: 16px;
}

.flat-search-flats-param .font-weight-bold{
    font-size: 18px!important;
}

.flat-search-flats-param>div {
    padding: 0!important;
    font-size: 0.9em!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flat-search-flats-param {
    margin: 0!important;
}

.search-flats>div {
    padding-right:  0.5rem!important;
    padding-left: 0.5rem!important;
}

.padding-side-5 {
    padding: 0 10px;
}

.m-0-10 {
  margin: auto 10px;
}

.page-item {
    margin: auto 5px;
    font-weight: 500;
}
.page-item a{
    color: #118DF0;
    border: 1.5px solid #118DF0;
}

.page-item.active .page-link{
    color: #004182!important;
    border: 1.5px solid #004182 !important;
    background-color: white!important;
}
.page-item .page-link:hover{
    color: #004182!important;
    border: 1.5px solid #004182 !important;
    background-color: white!important;
}

.flat-id-up-title{
    color: #004182;
    font-size: 25px;
}

.flat-id-up-price{
    font-size: 30px;
    color: #004182;
}

.flat-id-param{
    color: #004182;
}

.flat-id-description .col-md-3{
    font-size: 22px;
}

.font-18-px{
    font-size: 18px;
}

.col-md-8 .flex{
    justify-content: flex-end!important;
    height: 65%;
}

.col-md-8 .flex div{
    width: 33% !important;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;


}

.flat-id-renter>div>img{
    width: 100%!important;
    border-radius: 50%;
}

.col-md-8 .flex>div:hover a{
    text-decoration: underline;
}

.flat-id-renter-price{
    font-size: 23px;
}

.flat-id-renter-name p{
    font-size: 13px;
}

@font-face {
    src: url(/fonts/icons_mobiscroll.ttf);
    src: url(/fonts/icons_mobiscroll.woff);
}

.connect-owner>span{
    font-size: 22px;
}

.connect-owner{
    background-color: #004182;
}

.datepicker-days {
    border: 1px solid #004182;
}
.br-50 {
    border-radius: 50%;
}

.personal-area-account>div>input{
    font-size: 18px;
}

.personal-area-account>p{
    font-size: 14px;
}

.avatar-text>span{
    font-size: 22px;
}

.avatar-img i{
    font-size: 10rem;
}

.color-dark-blue{
    color: #004182!important;
}

.color-bg-dark-blue{
    background-color: #004182!important;
}

.upload-avatar:hover{
    cursor: pointer;
}

.dialog-list-one:not(:last-child){
    border-bottom: 1px solid grey;
}

.dialog-list-one{
    height: 13vh;
}

.dialog-list-connect-support .text-primary:hover {
    color: white!important;
}

.dialog-list-connect-support:hover a{
    color: white!important;

}

.dialog-list-connect-support{
    height: 6vh;
}

.opacity-50 {
    opacity: 50%;
}

.modal-content{
    background: linear-gradient(180deg, #118DF0 0%, #118DF0 0%, #004182 0.01%, #118DF0 100%), #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.modal-header h5{
    font-size: 33px;
}

.carousel-height-img>div div span{
    font-size: 38px
}

.main-carousel-text{
    background: rgba(0, 65, 130, 0.25);
}

.main-carousel-btn a{
    font-size: 38px!important;
    box-shadow: 4px 4px 4px #000000;
    width: 100%!important;
    padding: 10px 40px;
}

.main-carousel-btn{
    margin-bottom: 30px;
    margin-right: 30px;
    z-index: 1000;
}

.personal-area-flats-plus{
    font-size: 16px;
}

.icons-sidebar {
    color: #004182;
    fill: #004182;
    display: flex;
    align-items: center;
    width: 100%;
}

.icons-sidebar svg {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

.icons-sidebar:hover {
    color: #118DF0;
    fill: #118DF0;
}

.personal-area-flats-table-img{
    width: 200px!important;
}

.personal-area-flats-table-img img{
    width: 170px!important;
}

.personal-area-flat-save-order:hover{
    opacity: 0.7;
}

.btn-outline-secondary:hover {
    color: black!important;
    background-color: white!important;
    border-color: black!important;
}


















































