
.unread-entity{
    background: #c5c5e396;
}

.message-user-all.unread-entity {
    background: #c5c5e3!important;
    opacity: 0.8!important;
}

.pa-dialog-footer .row {
    margin: 0!important;
}

.display-none {
    display: block;
}

input.display-none {
    display: none!important;
}






















