
.unread-entity{
    background: #c5c5e396;
}

.message-user-all.unread-entity {
    background: #c5c5e3!important;
    opacity: 0.8!important;
}

.pa-dialog-footer .row {
    margin: 0!important;
}

.display-none {
    display: block;
}

input.display-none {
    display: none!important;
}


.first-user-message span {
    float: right!important;
}
.row.w-100.justify-content-between{
    justify-content: center!important;
}


.first-user-message::before {
    z-index: 100;
    content: '';
    margin-right: -20px;
    top: 0;
    border: 20px solid transparent;
    border-top: 14px solid #007bff!important;
    border-right: 20px solid #007bff!important;

    border-bottom: 2px solid transparent;
}

.second-user-message::after {
    z-index: 100;
    content: '';
    margin-left: -20px;
    top: 0;
    border: 20px solid transparent;
    border-top: 12px solid #004182!important;
    border-left: 20px solid #004182!important;
    border-bottom: 2px solid transparent;
}








